# {{ ansible_managed }}
{% macro render_option(key,override) %}
{%   if override is defined %}
{%     set value = override %}
{%   elif sshd[key] is defined %}
{%     set value = sshd[key] %}
{%   elif sshd_defaults[key] is defined and sshd_skip_defaults != true %}
{%     set value = sshd_defaults[key] %}
{%   endif %}
{%   if value is defined %}
{%     if value is sameas true %}
{{ key }} yes
{%     elif value is sameas false %}
{{ key }} no
{%     elif value is string or value is number %}
{{ key }} {{ value }}
{%     else %}
{%       for i in value %}
{{ key }} {{ i }}
{%       endfor %}
{%     endif %}
{%   endif %}
{% endmacro %}
