# {{ ansible_managed }}
{% macro render_option(key,value,indent=false) %}
{%   if value is defined %}
{%     if indent == true %}  {% endif %}
{%     if value is sameas true %}
{{ key }} yes
{%     elif value is sameas false %}
{{ key }} no
{%     elif value is string or value is number %}
{{ key }} {{ value }}
{%     elif value is iterable %}
{%       set separator=sshd_options_multi[key]|default(none) %}
{%       if separator is none %}
{{ key }} {{ value.0 }}
{%       elif separator == "line" %}
{%         for i in value %}
{{ key }} {{ i }}
{%         endfor %}
{%       else %}
{{ key }} {{ [value]|flatten|unique|join(separator) }}
{%       endif %}
{%     else %}
{{ "Cannot render dict value: " ~ value/0 }}
{%     endif %}
{%   endif %}
{% endmacro %}
{% macro body_option(key,override) %}
{%   set value = undefined %}
{%   if override is defined %}
{%     set value = override %}
{%   elif sshd[key] is defined %}
{%     set value = sshd[key] %}
{%   elif sshd_defaults[key] is defined and sshd_skip_defaults != true %}
{%     set value = sshd_defaults[key] %}
{%   endif %}
{{   render_option(key,value) -}}
{% endmacro %}
{% macro match_block(match_list) %}
{%   if match_list["Condition"] is defined %}
{%     set match_list = [ match_list ] %}
{%   endif %}
{%   if match_list is iterable %}
{%     for match in match_list %}
Match {{ [match["Condition"]]|flatten|unique|join(' ') }}
{%       for option in sshd_options_match %}
{{       render_option(option,match[option],true) -}}
{%       endfor %}
{%     endfor %}
{%   endif %}
{% endmacro %}
{% for option in sshd_options_body %}
{{ body_option(option,lookup("config","sshd_"~option)) -}}
{% endfor %}
{% if sshd.Match is defined %}
{{ match_block(sshd.Match) -}}
{% endif %}
{% if sshd_match is defined %}
{{ match_block(sshd_match) -}}
{% endif %}
{% if sshd_match_1 is defined %}
{{ match_block(sshd_match_1) -}}
{% endif %}
{% if sshd_match_2 is defined %}
{{ match_block(sshd_match_2) -}}
{% endif %}
{% if sshd_match_3 is defined %}
{{ match_block(sshd_match_3) -}}
{% endif %}
{% if sshd_match_4 is defined %}
{{ match_block(sshd_match_4) -}}
{% endif %}
{% if sshd_match_5 is defined %}
{{ match_block(sshd_match_5) -}}
{% endif %}
{% if sshd_match_6 is defined %}
{{ match_block(sshd_match_6) -}}
{% endif %}
{% if sshd_match_7 is defined %}
{{ match_block(sshd_match_7) -}}
{% endif %}
{% if sshd_match_8 is defined %}
{{ match_block(sshd_match_8) -}}
{% endif %}
{% if sshd_match_9 is defined %}
{{ match_block(sshd_match_9) -}}
{% endif %}
