[Unit]
Description=OpenBSD Secure Shell server socket
Documentation=man:sshd(8) man:sshd_config(5)
Before={{ sshd_service }}.service
Conflicts={{ sshd_service }}.service

[Socket]
{% for port in __sshd_ports_from_config | from_json %}
ListenStream={{ port }}
{% endfor %}
Accept=yes

[Install]
WantedBy=sockets.target
