{{ ansible_managed | comment }}
{{ "willshersystems:ansible-sshd" | comment(prefix="", postfix="") }}
{% if __sshd_sysconfig_supports_crypto_policy %}
{%   if sshd_sysconfig_override_crypto_policy | bool %}
CRYPTO_POLICY=
{%   endif %}
{% endif %}

{% if __sshd_sysconfig_supports_use_strong_rng %}
SSH_USE_STRONG_RNG={{ sshd_sysconfig_use_strong_rng }}
{% endif %}
