name: Run tests on Debian

on: [push, pull_request]

jobs:
  debian-trixie:
    runs-on: ubuntu-latest
    steps:
      - name: checkout PR
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v5

      - name: ansible check with debian trixie (13)
        uses: domrim/check-ansible-debian-trixie-action@73e85f4f7f02f9c10fa84512d6d31f82ff2e2761 # v1
        with:
          group: local
          hosts: localhost
          targets: "tests/tests_*.yml"
          requirements: tests/requirements.yml

  debian-bookworm:
    runs-on: ubuntu-latest
    steps:
      - name: checkout PR
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v5

      - name: ansible check with debian bookworm (12)
        uses: roles-ansible/check-ansible-debian-bookworm-action@00c5d5b5605ef19af942a78842caab6ed073b57e # v2
        with:
          group: local
          hosts: localhost
          targets: "tests/tests_*.yml"
          requirements: tests/requirements.yml

  debian-bullseye:
    runs-on: ubuntu-latest
    steps:
      - name: checkout PR
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v5

      - name: ansible check with debian bullseye (11)
        uses: roles-ansible/check-ansible-debian-bullseye-action@7dcf4e32b769b26e1c0b5f67ab46813283ba989f # main
        with:
          group: local
          hosts: localhost
          targets: "tests/tests_*.yml"
          requirements: tests/requirements.yml
