name: Ansible Lint  # feel free to pick your own name

on: [push, pull_request, workflow_dispatch]

env:
  LSR_ROLE2COLL_NAMESPACE: willshersystems
  LSR_ROLE2COLL_NAME: sshd

permissions:
  contents: read

jobs:
  ansible-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Update pip, git
        run: |
          set -euxo pipefail
          sudo apt update
          sudo apt install -y git
      - name: checkout PR
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Install tox, tox-lsr
        run: |
          set -euxo pipefail
          pip3 install "git+https://github.com/linux-system-roles/tox-lsr@3.4.0"
      - name: Convert role to collection format
        id: collection
        run: |
          set -euxo pipefail
          TOXENV=collection lsr_ci_runtox
          coll_dir=".tox/ansible_collections/$LSR_ROLE2COLL_NAMESPACE/$LSR_ROLE2COLL_NAME"
          # cleanup after collection conversion
          rm -rf "$coll_dir/.ansible" .tox/ansible-plugin-scan
          # ansible-lint action requires a .git directory???
          # https://github.com/ansible/ansible-lint/blob/main/action.yml#L45
          mkdir -p "$coll_dir/.git"
          meta_req_file="${{ github.workspace }}/meta/collection-requirements.yml"
          test_req_file="${{ github.workspace }}/tests/collection-requirements.yml"
          if [ -f "$meta_req_file" ] && [ -f "$test_req_file" ]; then
            coll_req_file="${{ github.workspace }}/req.yml"
            python -c 'import sys; import yaml
          hsh1 = yaml.safe_load(open(sys.argv[1]))
          hsh2 = yaml.safe_load(open(sys.argv[2]))
          coll = {}
          for item in hsh1["collections"] + hsh2["collections"]:
            if isinstance(item, dict):
              name = item["name"]
              rec = item
            else:
              name = item  # assume string
              rec = {"name": name}
            if name not in coll:
              coll[name] = rec
          hsh1["collections"] = list(coll.values())
          yaml.safe_dump(hsh1, open(sys.argv[3], "w"))' "$meta_req_file" "$test_req_file" "$coll_req_file"
            echo merged "$coll_req_file"
            cat "$coll_req_file"
          elif [ -f "$meta_req_file" ]; then
            coll_req_file="$meta_req_file"
          elif [ -f "$test_req_file" ]; then
            coll_req_file="$test_req_file"
          else
            coll_req_file=""
          fi
          echo "coll_req_file=$coll_req_file" >> $GITHUB_OUTPUT

      - name: Run ansible-lint
        uses: ansible/ansible-lint@a2bc8b8b13a80802215856c56823d85007d3baf5 # v25.12.2
        with:
          working_directory: ${{ github.workspace }}/.tox/ansible_collections/${{ env.LSR_ROLE2COLL_NAMESPACE }}/${{ env.LSR_ROLE2COLL_NAME }}
          requirements_file: ${{ steps.collection.outputs.coll_req_file }}
