name: Run Ansible Check on Alpine

on: [push, pull_request]

jobs:
  alpine-latest:
    runs-on: ubuntu-latest
    steps:
      # Important: This sets up your GITHUB_WORKSPACE environment variable
      - name: checkout PR
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: ansible check with alpine:latest
        uses: roles-ansible/check-ansible-alpine-latest-action@a0ef7619d074c2948766a977b7188d3cb16674e4 # master
        with:
          group: local
          hosts: localhost
          targets: "tests/tests_*.yml"
