name: Run Ansible Check on Ubuntu

on: [push, pull_request]

jobs:
  ubuntu-latest:
    runs-on: ubuntu-latest
    steps:
      # Important: This sets up your GITHUB_WORKSPACE environment variable
      - name: checkout PR
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v5

      - name: ansible check with ubuntu:latest
        uses: roles-ansible/check-ansible-ubuntu-latest-action@690020a8b5444e71bd5a3d363770cae6d558a361 # master
        with:
          group: local
          hosts: localhost
          targets: "tests/tests_*.yml"
          requirements: tests/requirements.yml
