name: Run tests on Fedora latest

on: [push, pull_request]

env:
  ANSIBLE_INJECT_FACT_VARS: "false"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Important: This sets up your GITHUB_WORKSPACE environment variable
      - name: checkout PR
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: ansible check with fedora:latest
        uses: roles-ansible/check-ansible-fedora-latest-action@41eed7f9706e601967c7927ee3f7e9cc0cb817a3 # master
        with:
          group: local
          hosts: localhost
          targets: "tests/tests_*.yml"
