name: Commitlint
on:  # yamllint disable-line rule:truthy
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - edited
  merge_group:
    branches:
      - main
    types:
      - checks_requested
permissions:
  contents: read
jobs:
  commit-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install conventional-commit linter
        run: npm install @commitlint/config-conventional @commitlint/cli

      - name: Run commitlint on PR title
        run: >-
          echo '${{ github.event.pull_request.title }}' |
          npx commitlint --verbose

